body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contenedor{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.m-auto{
  margin: auto;
}

.header-negro{
  color: "#212529"
}

.d-none-desktop{
  display: none;
}

@media (max-width: 768px){
  .d-none-movil{
    display: none !important;
  }
  .w-dm{
    width: 100%;
    font-size: 13px;
  }
  .d-none-desktop{
    display: block;
  }
}

.form-select{
  max-width: 42%;
}

.contenedor--nav{
  max-width: 1240px;
  margin: auto;
  padding: 10px;
}

.primary-color{
  color:#0d6efd
}

.w-db{
  width: 50%;
}

.fw-700{
  font-weight: 700;
}




.h-20{
  height: 3rem;
}

.items-center{
  align-items: center;
}

.flex{
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.justify-content-center{
  justify-content: center;
}

.bg-primary-neutral{
  --tw-bg-opacity: 1;
    background-color: rgb(250 251 255/var(--tw-bg-opacity));
}


.contenedor--nav--grid{
  display: flex;
}



.contenedor--section{
  display: grid;
  max-width: 1240px;
  padding-top: 10px;
  margin: auto;
}

/*arma tu plan*/
.container--grid{

  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    1fr;


  grid-template-areas: 
    "my-nav my-nav my-nav"
    "my-section my-section my-section"
    "my-aside my-aside my-aside"

}

nav.nav-section{
  --tw-bg-opacity: 1;
  background-color: rgb(237 239 252/var(--tw-bg-opacity));
  grid-area: my-nav;
  padding: 20px;
}

 
aside {
  grid-area: my-aside;
  padding: 20px;
}
 
section.section-plan {
  grid-area: my-section;
  padding: 25px;
}

.nav-text{
  font-size: 14px;
  color: #212529
}

ul {
  list-style: none;
}

.btn-circular{
  border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #cccccc;
    margin-right: 7px;
}

ul li.personalizado:before {
  content: '✓';
  padding-right: 15px;
}


@media (min-width: 1001px) {
  .container--grid {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 
      1fr;
    grid-template-areas:
      "my-nav my-section my-aside"
      
  }
}
